@define-color text #cdd6f4;

@define-color surface0 rgba(22, 25, 37, 0.9);

@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color sapphire #74c7ec;
@define-color teal #94e2d5;
@define-color green #a6e3a1;
@define-color yellow #f9e2af;
@define-color peach #fab387;
@define-color red #f38ba8;
@define-color mauve #cba6f7;
@define-color pink #f5c2e7;
@define-color flamingo #f2cdcd;
@define-color rosewater #f5e0dc;


/* =============================== */
/* Universal Styling */


*
{
  border: none;
  border-radius: 0px;
  font-family: "CaskaydiaCove Nerd Font", monospace;
  font-size: 13px;
  min-height: 0px;
}

#waybar
{
  background: transparent;
  color: @text;
}


/* =============================== */
/* Main Modules */


#custom-launcher,
#tray,
#backlight,
#custom-clock,
#battery,
#upower,
#pulseaudio,
#network,
#memory,
#temperature,
#custom-gpu,
#custom-power,
#custom-keyboard,
#custom-touchpad,
#custom-vram,
#custom-boost
{
  background-color: @surface0;
  color: @yellow;
  border-radius: 16px;
  padding: 0.5rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.116) 2px 2px 5px 2px;
  margin-top: 3px;
  margin-bottom: 2px;
}


/* =============================== */
/* Launcher Module */


#custom-launcher
{
  color: @green;
  padding-left: 13px;
  padding-right: 13px;
  margin-right: 10px;
}


/* =============================== */
/* System Monitoring Modules */


#memory
{
  color: @sapphire;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-left: 15px;
  padding-right: 5px;
}
#custom-vram
{
  color: @green;
  border-radius: 0px;
  padding-left: 5px;
  padding-right: 15px;
}

#temperature
{
  color: @red;
  border-radius: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

#custom-gpu
{
  color: @green;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-left: 5px;
  padding-right: 15px;
  margin-right: 10px;
}


/* =============================== */
/* Network Module */


#network
{
  color: @blue;
  padding-left: 15px;
  padding-right: 15px;
}


/* =============================== */
/* Funny Hyprland's quote */


#custom-quote
{
  color: @green;
  padding-left: 15px;
  padding-right: 15px;
}


/* =============================== */
/* Tray */

#custom-keyboard
{
  color: @green;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-left: 15px;
  padding-right: 10px;
}
#custom-touchpad
{
  color: @green;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-left: 10px;
  padding-right: 17px;
  margin-right: 10px;
}

#custom-boost
{
  color: @red;
  padding-left: 15px;
  padding-right: 10px;
  margin-right: 10px;
}

#pulseaudio
{
  color: @mauve;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-right: 5px;
}

#backlight
{
  color: @peach;
  border-radius: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

#upower
{
  color: @green;
  border-radius: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

#tray
{
  color: @mauve;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-right: 15px;
  margin-right: 10px;
}


/* =============================== */
/* Clock Module */


#custom-clock
{
  color: @flamingo;
  margin-right: 10px;
}


/* =============================== */
/* Powermenu Module */


#custom-power
{
  color: @red;
  padding-left: 13px;
  padding-right: 15px;
}
