@theme "/usr/share/rofi/themes/android_notification.rasi"

configuration
{
  modi: 'window,drun';
  font: 'CaskaydiaCove Nerd Font 15';
  combi-modi: 'window,drun';
}

element-icon
{
  size: 1.5em;
}

element-text
{
    vertical-align: 0.5;
}
